/public/*.js
/node_modules
/vendor
/.idea
public/js/.idea
artisan
composer.json
composer.lock
package.json
package-lock.json
phpunit.xml
/server.php
webpack.mix.js
.editorconfig
.env
.env.example
.gitattributes
.styleci.yml
