@use '../general/action-style';
@use '../general/colors';
@use '../general/flex-style';

.pagination {
    @extend .al-s-stretch, .row, .al-center, .jc-between;
    background: colors.$black;
    padding: 10px 20px;
    border-radius: 10px;

    &-style {
        color: #f0f0f0;
        font-size: 25px;
    }

    &__select-number {
        width: 15%
    }

    &__arrow {
        @extend .icon-button, .pagination-style;
    }

    &__arrow:disabled {
        color: grey;
    }

    &__arrow:disabled:hover {
        cursor: default;
    }

    &__number {
        @extend .pagination-style;
    }

    &__select-category {
        @extend .row, .jc-end, .pagination-style;
        width: 15%
    }
}

.shopping-card {
    @extend .al-s-stretch, .column, .al-s-stretch;
    padding: 20px;
    background: #cff0ee;

    &__title {
        @extend .al-s-center;
    }

    &__item {
        @extend .row;
    }

    &__item--price {
        @extend .al-s-stretch, .grow-1;
        text-align: end;
    }

    &__item--remove {
        @extend .icon-button;
        color: #bc2d2d;
    }

    &__item--total-cost {
        @extend .al-s-end;
    }

    span:last-child {
        margin-right: 32px;
    }

    li {
        margin-bottom: 10px;
    }
}

.all-articles {
    margin-top: 20px;
    width: 80%;
    background: #f0f0f0;

    &--null {
        @extend .all-articles;
        padding: 20px;
    }

    &__table {
        @extend .all-articles;
        border-collapse: collapse;
    }

    &__table th {
        border: 5px solid white;
        padding: 15px;
        border-collapse: collapse;
    }

    &__table td {
        border: 5px solid white;
        padding: 15px;
        border-collapse: collapse;
    }

    &__table tr:hover:not(.all-articles__head) {
        background: #393d3f;
        color: #e6e6e8;
    }

    &__head {
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px 20px;

        > div:nth-child(2) {
            border-top: #f0f0f0 5px solid;
            padding-top: 20px;
        }

        > th:nth-child(1) {
            width: 10%;
        }

        > th:nth-child(2) {
            width: 10%;
        }

        > th:nth-child(3) {
            width: 50%;
        }

        > th:nth-child(4) {
            width: 20%;
        }

        > th:nth-child(5) {
            width: 10%;
        }
    }
}
