@use '../general/colors';
@use '../general/flex-style';
@use '../general/action-style';
@use '../general/style';

.side-nav {
    @extend .column, .jc-between;
    @include style.card(colors.$white);
    width: 12%;
    min-width: 200px;
}

.menu {
    @extend .column, .al-s-center;
}

.menu__item {
    @extend .noselect;
    margin-top: 10%;
    padding: 8px 20px;
    background: colors.$grey;

    &--active {
        @extend .noselect;
        margin-top: 10%;
        padding: 8px 20px;
        background: colors.$grey;
        color: colors.$green;
    }

    &:hover {
        @extend .link;
    }
}

@for $i from 0 through 3 {
    .menu__sub-item {
        &--#{$i} {
            @extend .noselect;
            @include colors.colorize-pastel($i);
            padding: 8px 20px;

            &:hover {
                @extend .link;
            }

            &--active {
                @extend .noselect;
                @include colors.colorize-pastel($i);
                padding: 8px 20px;
                color: colors.$green;
            }
        }

        &--hidden {
            display: none;
        }
    }
}

.impressum {
    @extend .column;
    padding: 10px 5px;
    background: #393d3f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.impressum__item--1 {
    font-size: 12px;
    color: colors.$grey;
}

.impressum__item--2 {
    @extend .impressum__item--1;
    @extend .row, .jc-between;
}
