.row,
.category,
.form__item,
.my-articles-item__head,
.my-articles-item__head--opened,
.pagination,
.pagination__select-category,
.shopping-card__item,
.impressum__item--2,
.nav-bar {
  display: flex;
  flex-direction: row;
}

.column,
.category__card--0,
.category__card--1,
.category__card--2,
.category__card--3,
.category__card--4,
.category__card--body,
.form,
.my-articles-item,
.my-articles-item--green,
.my-articles-item--yellow,
.my-articles-item--red,
.shopping-card,
.side-nav,
.menu,
.impressum,
.nav-bar__title,
.content--center,
.content--stretch {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.jc-between,
.my-articles-item__head,
.my-articles-item__head--opened,
.pagination,
.side-nav,
.impressum__item--2 {
  justify-content: space-between;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-end,
.pagination__select-category,
.nav-bar__title {
  justify-content: flex-end;
}

.jc-stretch {
  justify-content: stretch;
}

.al-start {
  align-items: flex-start;
}

.al-center,
.my-articles-item__head,
.my-articles-item__head--opened,
.pagination,
.content--center {
  align-items: center;
}

.al-end,
.nav-bar {
  align-items: flex-end;
}

.al-stretch,
.content--stretch {
  align-items: stretch;
}

.al-s-start,
.form__submit {
  align-self: flex-start;
}

.al-s-center,
.category__card--head,
.shopping-card__title,
.menu {
  align-self: center;
}

.al-s-end,
.shopping-card__item--total-cost {
  align-self: flex-end;
}

.al-s-stretch,
.category,
.pagination,
.shopping-card,
.shopping-card__item--price {
  align-self: stretch;
}

.grow-1,
.shopping-card__item--price,
.nav-bar__title,
.content--center,
.content--stretch {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.wrap {
  flex-wrap: wrap;
}

.icon-button,
.pagination__arrow,
.shopping-card__item--remove,
.login-button {
  background-color: transparent;
  /* Blue background */
  border: none;
  /* Remove borders */
  cursor: pointer;
  /* Mouse pointer on hover */
}

.input-field,
.form__field {
  border: 1px solid #08b1a9;
  border-radius: 4px;
  margin-right: 20px;
  padding: 2px;
}

.noselect,
.menu__item,
.menu__item--active,
.menu__sub-item--0,
.menu__sub-item--0--active,
.menu__sub-item--1,
.menu__sub-item--1--active,
.menu__sub-item--2,
.menu__sub-item--2--active,
.menu__sub-item--3,
.menu__sub-item--3--active {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link,
.my-articles-item__head:hover,
.my-articles-item__head--opened:hover,
.menu__item:hover,
.menu__sub-item--0:hover,
.menu__sub-item--1:hover,
.menu__sub-item--2:hover,
.menu__sub-item--3:hover,
.impressum__button:hover {
  cursor: pointer;
  color: #08b1a9;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: auto;
  background: #f0f0f0;
}

#container {
  height: 100%;
}

.content--center {
  margin: 20px;
  border: 1px #ffffff solid;
  border-radius: 10px;
  background: #ffffff;
  padding: 15px;
}

.content--stretch {
  margin: 20px;
  border: 1px #ffffff solid;
  border-radius: 10px;
  background: #ffffff;
  padding: 15px;
}

.nav-bar {
  height: 7%;
  min-height: 60px;
}

.nav-bar__title {
  margin-left: 30px;
}

.nav-bar__title > span:nth-child(1) {
  color: #08b1a9;
  font-size: 35px;
  font-weight: bold;
}

.nav-bar__title > span:nth-child(2) {
  color: #393d3f;
  font-size: 10px;
}

.login-button {
  margin-right: 20px;
}

.side-nav {
  margin: 20px;
  border: 1px #ffffff solid;
  border-radius: 10px;
  background: #ffffff;
  width: 12%;
  min-width: 200px;
}

.menu__item {
  margin-top: 10%;
  padding: 8px 20px;
  background: #f0f0f0;
}

.menu__item--active {
  margin-top: 10%;
  padding: 8px 20px;
  background: #f0f0f0;
  color: #08b1a9;
}

.menu__sub-item--0 {
  background: #cff0ee;
  padding: 8px 20px;
}

.menu__sub-item--0--active {
  background: #cff0ee;
  padding: 8px 20px;
  color: #08b1a9;
}

.menu__sub-item--hidden {
  display: none;
}

.menu__sub-item--1 {
  background: #cff0d4;
  padding: 8px 20px;
}

.menu__sub-item--1--active {
  background: #cff0d4;
  padding: 8px 20px;
  color: #08b1a9;
}

.menu__sub-item--hidden {
  display: none;
}

.menu__sub-item--2 {
  background: #f0d1cf;
  padding: 8px 20px;
}

.menu__sub-item--2--active {
  background: #f0d1cf;
  padding: 8px 20px;
  color: #08b1a9;
}

.menu__sub-item--hidden {
  display: none;
}

.menu__sub-item--3 {
  background: #ecf0cf;
  padding: 8px 20px;
}

.menu__sub-item--3--active {
  background: #ecf0cf;
  padding: 8px 20px;
  color: #08b1a9;
}

.menu__sub-item--hidden {
  display: none;
}

.impressum {
  padding: 10px 5px;
  background: #393d3f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.impressum__item--1,
.impressum__item--2 {
  font-size: 12px;
  color: #f0f0f0;
}

.pagination {
  background: #393d3f;
  padding: 10px 20px;
  border-radius: 10px;
}

.pagination-style,
.pagination__select-category,
.pagination__number,
.pagination__arrow {
  color: #f0f0f0;
  font-size: 25px;
}

.pagination__select-number {
  width: 15%;
}

.pagination__arrow:disabled {
  color: grey;
}

.pagination__arrow:disabled:hover {
  cursor: default;
}

.pagination__select-category {
  width: 15%;
}

.shopping-card {
  padding: 20px;
  background: #cff0ee;
}

.shopping-card__item--price {
  text-align: end;
}

.shopping-card__item--remove {
  color: #bc2d2d;
}

.shopping-card span:last-child {
  margin-right: 32px;
}

.shopping-card li {
  margin-bottom: 10px;
}

.all-articles,
.all-articles__table,
.all-articles--null {
  margin-top: 20px;
  width: 80%;
  background: #f0f0f0;
}

.all-articles--null {
  padding: 20px;
}

.all-articles__table {
  border-collapse: collapse;
}

.all-articles__table th {
  border: 5px solid white;
  padding: 15px;
  border-collapse: collapse;
}

.all-articles__table td {
  border: 5px solid white;
  padding: 15px;
  border-collapse: collapse;
}

.all-articles__table tr:hover:not(.all-articles__head) {
  background: #393d3f;
  color: #e6e6e8;
}

.all-articles__head {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.all-articles__head > div:nth-child(2) {
  border-top: #f0f0f0 5px solid;
  padding-top: 20px;
}

.all-articles__head > th:nth-child(1) {
  width: 10%;
}

.all-articles__head > th:nth-child(2) {
  width: 10%;
}

.all-articles__head > th:nth-child(3) {
  width: 50%;
}

.all-articles__head > th:nth-child(4) {
  width: 20%;
}

.all-articles__head > th:nth-child(5) {
  width: 10%;
}

.my-articles-item,
.my-articles-item--red,
.my-articles-item--yellow,
.my-articles-item--green {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.my-articles-item--green {
  margin: 20px;
  border: 1px #cff0d4 solid;
  border-radius: 10px;
  background: #cff0d4;
}

.my-articles-item--yellow {
  margin: 20px;
  border: 1px #ecf0cf solid;
  border-radius: 10px;
  background: #ecf0cf;
}

.my-articles-item--red {
  margin: 20px;
  border: 1px #f0d1cf solid;
  border-radius: 10px;
  background: #f0d1cf;
}

.my-articles-item__head--opened {
  margin-bottom: 10px;
}

.form {
  width: 300px;
}

.form__item {
  margin-bottom: 10px;
}

.form__label {
  width: 150px;
}

.form__field {
  width: 150px;
}

.category__card--0 {
  background: #cff0ee;
  margin: 10px;
  border-radius: 10px;
  min-width: 125px;
  padding: 20px;
}

.category__card--1 {
  background: #cff0d4;
  margin: 10px;
  border-radius: 10px;
  min-width: 125px;
  padding: 20px;
}

.category__card--2 {
  background: #f0d1cf;
  margin: 10px;
  border-radius: 10px;
  min-width: 125px;
  padding: 20px;
}

.category__card--3 {
  background: #ecf0cf;
  margin: 10px;
  border-radius: 10px;
  min-width: 125px;
  padding: 20px;
}

.category__card--4 {
  background: #cff0ee;
  margin: 10px;
  border-radius: 10px;
  min-width: 125px;
  padding: 20px;
}

.category__card--head {
  font-size: 18px;
  margin-bottom: 10px;
}

.category__card--body {
  margin-bottom: 10px;
}

