@use 'colors';
@use 'flex-style';

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: auto;
    background: colors.$grey;
}

#container {
    height: 100%;
}

.card {
    margin: 20px;
    border: 1px colors.$white solid;
    border-radius: 10px;
    background: white;
}

.content {
    &--center {
        @extend .card, .grow-1, .column, .al-center;
        padding: 15px;
    }
    &--stretch {
        @extend .card, .grow-1, .column, .al-stretch;
        padding: 15px;
    }
}
