@use 'colors';
@use 'flex-style';

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: auto;
    background: colors.$grey;
}

#container {
    height: 100%;
}

@mixin card ($color: colors.$white) {
    margin: 20px;
    border: 1px $color solid;
    border-radius: 10px;
    background: $color;
}

.content {
    &--center {
        @extend .grow-1, .column, .al-center;
        @include card(colors.$white);
        padding: 15px;
    }
    &--stretch {
        @extend .grow-1, .column, .al-stretch;
        @include card(colors.$white);
        padding: 15px;
    }
}
